

.rightAside {
  width:30%;
  background-color: #e9ebee;
  padding: 10px;
}

.leftAside {
  width: 20%;
  background-color: var(--color-dark-primary);
  padding: 10px;
  color: white;
  border-radius: 8px;
  max-height: calc(100vh - 60px);
  overflow-y: auto;
}

.asideItems {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.asideItems img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.asideItems span {
  font-weight: 500;
}